* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

html,
body {
    height: 100%;
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #1e111d;
    color: white;
}

.sidebar {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    min-width: 350px;
    border-right: solid 1px gray;
    padding-top: 20px;
}

main {
    display: flex;
    flex-direction: column;
}

.about-me {
    transition: all 1s;
    letter-spacing: 1px;
    color: black;
    font-size: 17px;
    width: 100%;
}

@keyframes colorChange {
    0% {
        color: red;
    }

    25% {
        color: blue;
    }

    50% {
        color: green;
    }

    75% {
        color: yellow;
    }

    100% {
        color: orange;
    }
}

.nome {
    animation: colorChange 5s infinite;
    font-size: 35px;
}

.navbar{
    padding-top: 20px;
    font-size: 20px;
}

.navlink{
    border-left: solid 3px gray;
    padding-left: 30px;
    color: gray;
}

.navlink:hover{
    font-size: 25px;
}

li{
    margin-top: -1px;
}

ul{
    list-style: none;
}

ul a{
    text-decoration: none;
    transition: all 0.5s;
}

.active{
    border-left: solid 3px #e1eee2;
    color: #e1eee2;
}

#about-me h1{
    font-size: 40px;
}

#about-me p{
    font-size: 25px;
}

.footer-sidebar{
    display: flex;
    height: 100%;
    justify-content: flex-end;
    flex-direction: column;
}

.title-conteudo{
    font-size: 35px;
}

.navbar-in-conteudo{
    font-size: 25px;
}

#conteudo{
    padding-top: 20px;
    padding-left: 50px;
}

#beginning, #aboutme, #experiences, #studies{
    display: none;
}

.active-div{
    display: flex !important;
    flex-direction: column;
}

#beginning{
    gap: 10px;
}

.card{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 4px;
    border: solid 1px grey;
    padding: 10px;
    transition: all 1s;
}
.conteudo-card{
    display: flex;
}

.img-card{
    width: 50px;
    height: 100%;
}

.title-texto-card{
    font-size: 22px;
    transition: all 1s;
}

.conteudo-texto-card{
    font-size: 15px;
    transition: all 1s;
}

.linguagens-card{
    display: flex;
    gap: 5px;
}

.linguagem{
    background-color: blueviolet;
    min-width: 70px;
    border-radius: 20%;
    color: black;
    text-align: center;
    transition: all 1s;
}

.card:hover{
    box-shadow: 2px 5px 5px 0px White;
    
    .title-texto-card{
        font-size: 25px;
    }
    .conteudo-texto-card{
        font-size: 18px;
    }	
    .linguagem{
        color: white;
    }

}
